{% extends '::base1.html.twig' %}
{% block titel %}Gestión de Usuarios{% endblock %}
{% block contenido %}
	<div class="container-fluid"> 
		<div class="row">
			<div class="col-md-12">
<nav class="navbar navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> 
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href={{path('usuario_alta')}}>Alta de Usuario</a>
						</li>
						<li>
							<a href="#">Modificar Usuario</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href={{path('usuarios_homepage')}}>Volver</a>
						</li>
					</ul>
				</div>
			</nav>


            <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h2>
                                 Información!
                            </h2>
                            <p>
                                Desde estas funciones podrá crear nuevos usuarios y modificar las datos de los ya existentes.
                            </p>
                            {#<p>
                                <a class="btn btn-primary btn-large" href="#">Learn more</a>
                            </p>#}
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
{#<script type="text/javascript">
	$(document).ready(function(){    
    $( "form" ).submit(function( event ) {
         cadena = $("#sistema_usuariosbundle_empleadotype_Email").val();
         resultado = cadena.indexOf("@");
        if(resultado == -1) {
            $( "#msjemail" ).text( "El Campo Correo debe poseer una dirección valida.!!" ).show().fadeOut( 7000);
            event.preventDefault();           
        }        
        resultado2 = cadena.indexOf(".com");
        if(resultado2 == -1) {
            $( "#msjemail" ).text( "El Campo Correo debe poseer una dirección valida.!!" ).show().fadeOut( 7000);
            event.preventDefault();           
        }        
        
        if(val2 == 1) {
            $( "#msjemail" ).text( "El Correo ya existe debe cambiar.!!" ).show().fadeOut( 7000);
            event.preventDefault();           
        }                
        
        if(val1 == 1){
            $( "#msjun" ).text( "El nombre de usuario ya existe debe cambiar.!!" ).show().fadeOut( 7000);
            event.preventDefault();  
        }
        pass1 = $("#sistema_usuariosbundle_empleadotype_password_first").val();
        pass2 = $("#sistema_usuariosbundle_empleadotype_password_second").val();
        if(pass1 != pass2) {
            $( "#msjc" ).text( "Los campos contraseña deben coincidir.!!" ).show().fadeOut( 7000);
            event.preventDefault();                
        }
        tipoUs = $("#sistema_usuariosbundle_empleadotype_tipou").val();
        if(tipoUs == 1 || tipoUs == 2){
            $( "#msjtu" ).text( "Los unicos tipos de usuarios aceptados son (Empleado o Administrado).!!" ).show().fadeOut( 7000);
            event.preventDefault();  
        }
 
    
    });
    jQuery("#sistema_usuariosbundle_empleadotype_username").change(function() {
            user = jQuery("#sistema_usuariosbundle_empleadotype_username").val();           
            var url1 = '{{ path("gestion_consultar", {'name': 'name'}) }}'; 
            url1 = url1.replace("name", user);
            val1 = 0;
            //alert(url1);
            $('#msjerror2').load(url1);            
    }); 
    jQuery("#sistema_usuariosbundle_empleadotype_Email").change(function() {
            correo = jQuery("#sistema_usuariosbundle_empleadotype_Email").val();           
            var url2 = '{{ path("gestion_consultar1", {'email': 'email'}) }}'; 
            url2 = url2.replace("email", correo);
            val2 = 0;
            //alert(url1);
            $('#msjerror3').load(url2);            
    });             
});
</script>#}